
#portfolio-container-main{
    max-height: 100%;
    display: grid;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 200;
    padding-bottom: 30px;
}

.titulo-container-portfolio{
    background-image: url(/images/porfolio-fondo.png);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

h2.subtitulo-container-pricipal, .portfolio{
    color: #000;
    text-shadow: 1px  0px 0px #fff,
    0px  1px 0px #fff,
   -1px  0px 0px #fff,
    0px -1px 0px #fff;
}

.section-trabajos{
    width: 85%;
    margin: auto;
}

.card-containers-trabajos{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.card-containers-trabajos a{
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    color: #000;
    text-decoration: none;
    padding: 8px 2px;
    width: 20%;
    display: block;
    border: 2px solid #000;
    margin: 20px 0px;
    background-color: transparent;
    transition: width .6s ease-in-out;
}

.card-containers-trabajos a:hover{
    width: 60%;
}

#card1-work, #card2-work{
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(216, 175, 175);
    border-radius: 20px;
    transition: background-color .8s ease-in;
}

#card1-work:hover, #card2-work:hover{
    background-color:rgb(74, 190, 29)
}

#card1-work img,#card2-work img{
    width: 50vw;
}



@media only screen and (max-width: 768px){
    div.titulo-container-portfolio{
        background-size: 800px;
    }

    h1.portfolio{
        padding-top: 20px;
    }

    .card-containers-trabajos a{
        width: 50%;
    }

    #card1-work img,#card2-work img{
        width: 100%;
    }

}


@media only screen and (min-width: 600px){

    div.titulo-container-portfolio{
        background-position-x: 45%;
        background-position-y: 10%;
        background-size: 970px;
    }
};
