:root{
    --blanco: #fff;
    --negro: rgb(20, 19, 19);
    --color-dark: #282b39;
    --hover-nav: rgba(44, 35, 35);
    --font-primary: 'Lora', serif;
    --font-other: 'Noto Sans Mono', monospace;
    --color-link: #9705aa;
    --color-shadow: #A2D2FF;
}
html{
    scroll-behavior: smooth;
    width: 100%;
}
p, h2, h3{
    color: var(--negro);
}
a:visited, a:link{
    color: var(--color-link);
    text-decoration: none;
    font-weight: 500;
}
body{
    color: var(--negro);
    font-family: var(--font-primary);
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--blanco);
}
/* Estilos header */
header{
    margin: auto;
    padding-bottom: 10px;
    background-color: var(--negro);
}

nav.navigator{
    margin: 0px;
}
.direccion-logo{
    display: flex;
    justify-content: center;
}

.logo-page img{
    width: 100px;
    padding: 30px 0px 15px;  
}

ul.menu-flex{
    display: flex;
    justify-content: space-around;
    transition: border 2s ease;
    padding-left: 0px;
    padding: 20px 0 20px 0;
}

.menu-flex a{
    border: 2px solid var(--blanco);
    text-transform: uppercase;
    color: var(--blanco);
    font-family: serif;
    font-weight: 600;
    text-decoration:none;
    transition: border 0.6s ease;
    padding: 16px;
}

.menu-flex a:hover{
    border: 2px solid var(--hover-nav);
    cursor: pointer;
}

/* Estilos main */
main{
    width: 85%;
    margin: auto;
    font-family: var(--font-primary);
    color: var(--blanco);
    background-color: var(--blanco);
}
main img{
    width: 500px;
}
h1{
    text-shadow: 1px 1px 15px #0547aa;
    text-align: center;
    padding: 10px 0px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-size: 30px;
    text-decoration: dashed;
}


.face-smile-beam{
    width: 20px;
    height: auto;
}

.introdution-main{
    background-image: url(/images/imagen-header3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px 0px;
}

article.frase-main{
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
}

article.frase-main{
    display: flex;
    flex-wrap: wrap;
}
.frase-main h2, .frase-main h3{
    text-shadow: 1px 1px 30px var(--color-shadow);
    color: var(--blanco);
    font-size: 18px;
}
.frase-main h3{
    align-self: flex-end;
}

#language-1{grid-area:language1;}
#language-2{grid-area:language2;}
#language-3{grid-area:language3;}
#language-4{grid-area:language4;}
#language-5{grid-area:language5;}
#language-6{grid-area:language6;}
#language-7{grid-area:language7;}
#language-8{grid-area:language8;}
#language-9{grid-area:language9;}
#language-10{grid-area:language10;}


#language-1 img,#language-2 img,#language-3 img,#language-4 img, #language-5 img, #language-6 img{
    width: 20px;
    height: auto;
    padding-right: 8px;
}
#language-7 img, #language-8 img, #language-9 img, #language-10 img{
    width: 20px;
    height: auto;
    padding-right: 8px;
}

.grid-container-language{
    display: grid;
    grid-template-areas: 
    'language1 language1 language1 language1 language1 language1'
    'language2 language2 language3 language3 language4 language4'
    'language5 language5 language6 language6 language7 language7'
    'language8 language8 language9 language9 language10 language10';
    margin: 0 10px;
    grid-column-gap: 10px;
}

.grid-language{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: 30px;
}

.grid-language a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-dark);
    width: 100%;
    border: 3px solid rgb(5, 5, 5);
    transition: border 0.6s ease;
    font-family: var(--font-other);
    font-weight: 800;
    text-align: center;
}

.grid-language a:hover{
    cursor: pointer;
    border: 3px solid #0077a7;
}

.introduccion-container{
    font-family: var(--font-primary);
    width: 100%;
    margin: auto;
}
.introduccion-container p{
    color: black;
    font-weight: 700;
    font-size: 20px;
    color: var(--color-dark);

}
.introduccion-container .intro-inspiracion{
    font-weight: 500;
    font-style: italic;
    text-align: left;
    font-size: 22px;
    border: 5px solid var(--negro);
    padding: 20px;
}

.intro-inspiracion span { 
    font-weight: 800;
    color: var(--negro);
}

section#python-language-container, #java-language-container{
    width: 100%;
    color: var(--negro);
    font-size: 16px;
}
@media only screen and (max-width: 600px){
    ul.menu-flex{
        display: none;
    }
    .grid-container-language{
        display: flex;
        flex-direction: column;
    }
}

/* Estilos footer */
.footer-container{
    width: 100%;
    height: auto;
    margin-top: 50px;
    background-color: #A2D2FF;
}
.sub-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-container span{
    color: var(--negro);
    font-size: 16px;
    font-family: var(--font-primary);
    padding-top: 15px;
    align-self: center;
}
.footer-container a, .footer-container li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}
.footer-container a{
    align-self: center;
}
.footer-container svg{
    width: 20px;
    padding: 0 10px;
}