:root{
    --blanco: #fff;
    --negro: rgb(20, 19, 19);
    --hover-nav: rgba(44, 35, 35);
    --font-primary: 'Lora', serif;
    --font-other: 'Noto Sans Mono', monospace;
    --color-link: #9705aa;
    --color-shadow: #A2D2FF;
    --color-head: #4d3bf1;
    --color-language-hover: #0077a7;
}
html{
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    width: 100%;
}
p, h2, h3{
    color: var(--negro);
}
a:visited, a:link{
    color: var(--color-link);
    text-decoration: none;
    font-weight: 500;
}
body{
    color: var(--negro);
    font-family: var(--font-primary);
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--blanco);
}
/* Estilos header */
header{
    margin: auto;
    padding-bottom: 10px;
    background-color: var(--color-head);
}

nav.navigator{
    margin: 0px;
}

.direccion-logo{
    display: flex;
    justify-content: center;
}

.logo-page img{
    width: 200px;
    padding: 30px 0px 15px;  
}

ul.menu-flex{
    display: flex;
    justify-content: space-around;
    transition: border 2s ease;
    padding-left: 0px;
    padding: 20px 0 20px 0;
}

ul.menu-flex li{
    list-style-type: none;
}

.menu-flex a{
    border: 2px solid var(--blanco);
    text-transform: uppercase;
    color: var(--blanco);
    font-family: serif;
    font-weight: 600;
    text-decoration:none;
    transition: border 0.6s ease;
    padding: 16px;
}

.menu-flex a:hover{
    border: 2px solid var(--hover-nav);
    cursor: pointer;
}
/* Seccion de nav responsive */

.nav-icon-6{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: none;
  }

  .nav-icon-6 span{
    background-color: var(--blanco);
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
  }

  .nav-icon-6 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-6 span:nth-child(2){
    top:13px;
    left: 0px;
  }

  .nav-icon-6 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }

  .nav-icon-6.open span:nth-child(1){
    transform: rotate(45deg) scaleX(0.7);
    top: 13PX;
    left: -8px;
  }

  .nav-icon-6.open span:nth-child(2){
    transform: scale(0);
    transition-duration: 50ms
  }

  .nav-icon-6.open span:nth-child(3){
    transform: rotate(-45deg) scaleX(0.7);
    top: 13PX;
    left: 7px;
  }

/* Estilos main */

main{
    width: 100%;
    margin: auto;
    font-family: var(--font-primary);
    color: var(--blanco);
    background-color: var(--blanco);
}

.introdution-main{
    width: 85%;
    background-image: url(/images/imagen-header3.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 20px auto;
    height: 200px;
    display: flex;
    justify-content: center;
}

h1.titulo-container-principal{
    text-align: center;
    font-weight: 800;
    padding: 20px 0 0 0;
    text-transform: uppercase;
    font-family: var(--font-primary);
    font-size: 30px;
    text-decoration: dashed;
    color: var(--blanco);
}

.face-smile-beam{
    width: 20px;
    height: auto;
}

article.frase-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.frase-1{
    text-shadow: 1px  0px 0px var(--blanco),
    0px  1px 0px var(--blanco),
    -1px  0px 0px var(--blanco),
    0px -1px 0px var(--blanco);
    color: var(--blanco);
    font-size: 18px;
    align-self: center;
    padding: 2px 10px;
    border-radius: 10px;
}

.frase-1 h3{
    text-align: end;
}

#language-1{grid-area:language1;}
#language-2{grid-area:language2;}
#language-3{grid-area:language3;}
#language-4{grid-area:language4;}
#language-5{grid-area:language5;}
#language-6{grid-area:language6;}
#language-7{grid-area:language7;}
#language-8{grid-area:language8;}
#language-9{grid-area:language9;}
#language-10{grid-area:language10;}


#language-1 img,#language-2 img,#language-3 img,#language-4 img, #language-5 img, #language-6 img{
    width: 40px;
    height: auto;
    padding-right: 8px;
}

#language-7 img, #language-8 img, #language-9 img, #language-10 img{
    width: 40px;
    height: auto;
    padding-right: 8px;
}

.grid-container-language{
    width: 85%;
    display: grid;
    grid-template-areas: 
    'language1 language1 language1 language1 language1 language1'
    'language2 language2 language3 language3 language4 language4'
    'language5 language5 language6 language6 language7 language7'
    'language8 language8 language9 language9 language10 language10';
    margin: 0 auto;
    grid-column-gap: 10px;
}

.grid-language{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-bottom: 30px;
}

.grid-language a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--negro);
    width: 100%;
    border: 3px solid rgb(5, 5, 5);
    transition: border 0.6s ease;
    font-family: var(--font-other);
    font-weight: 800;
    text-align: center;
    padding: 10px 0px;
}

.grid-language a:hover{
    cursor: pointer;
    border: 3px solid var(--color-language-hover);
}

.introdution-container{
    width: 85%;
    font-family: var(--font-primary);
    margin: 0 auto 20px;
    
}

.introdution-container p{
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.introdution-container .intro-inspiracion{
    font-weight: 500;
    font-style: italic;
    text-align: left;
    font-size: 22px;
    border: 5px solid var(--negro);
    padding: 20px;
}

.intro-inspiracion span { 
    font-weight: 800;
    color: var(--negro);
}

#introdution-language-programming{
    margin-top: 10px;
    width: 100%;
    background-color: var(--blanco);
}

.language-programming{
    width: 85%;
    margin: auto;
}

#python-language-container, #java-language-container, #javascript-language-container, #csharp-language-container, #cmasmas-language-container{
    width: 85%;
    margin: auto;
    color: var(--negro);
    font-size: 16px;
    background-color: #FFEF78;
    padding: 20px;
}

#php-language-container, #visual-basic-language-container, #c-language-container, #go-language-container, #r-language-container{
    width: 85%;
    margin: auto;
    color: var(--negro);
    font-size: 16px;
    background-color: #FFEF78;
    padding: 20px;
}

.introdution-python, .introdution-java, .introdution-csharp, .introdution-cmasmas, .introdution-visual-basic, .introdution-php, .introdution-c, .introdution-r, .introdution-go, .introdution-javascript{
    width: 85%;
    margin: auto;
    padding: 10px 3px;

}

.introdution-r{
    padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
    ul.menu-flex{
        display: none;
    }

    .grid-container-language{
        display: flex;
        flex-direction: column;
    }

    .nav-icon-6{
        display: inline-block;
    }

}
@media only screen and (max-width: 600px){
    .frase-1, .frase-2{
    width: 80%;
    display: flex;
    justify-content: center;
    }

    /* ul.menu-flex{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-content: space-around;
    } */
}

/* Estilos boton de lenguajes */

.accordion {
    background-color: var(--blanco);
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 25px;
    width: 100%;
    text-align: left;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.4s;
    border: 2px solid var(--negro);
    margin: auto;
  }
  
  .accordion:after {
    content: '\002B';
    color: var(--negro);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

/* Estilos footer */

.footer-container{
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: var(--color-shadow);
    margin-bottom: 0px;
}

.sub-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-container span{
    color: var(--negro);
    font-size: 16px;
    font-family: var(--font-primary);
    padding-top: 15px;
    align-self: center;
}

.footer-container a, .footer-container li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
}

.footer-container a{
    align-self: center;
}

.footer-container svg{
    width: 20px;
    padding: 0 10px;
}