
#portfolio-container-main{
    max-height: 100%;
    display: grid;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 200;
    padding-bottom: 30px;
}

.titulo-container-portfolio{
    background-image: url(/images/porfolio-fondo.png);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
}

h2.subtitulo-container-pricipal, .portfolio{
    color: #000;
    text-shadow: 1px  0px 0px #fff,
    0px  1px 0px #fff,
   -1px  0px 0px #fff,
    0px -1px 0px #fff;
}

.section-trabajos{
    width: 85%;
    margin: auto;
}

@media only screen and (max-width: 768px){
    div.titulo-container-portfolio{
        background-size: 800px;
    }

    h1.portfolio{
        padding-top: 20px;
    }

}


@media only screen and (min-width: 600px){

    div.titulo-container-portfolio{
        background-position-x: 45%;
        background-position-y: 10%;
        background-size: 970px;
    }
};
