
#sobre-mi-container-main{
    width: 100%;
    display: grid;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 200;
    padding-bottom: 30px;
}

#retrato-molina-container{grid-area: 'image';}
#presentation-personal{grid-area: 'presentation';}

.grid-container-main{
    display: grid;
    grid-template-areas:
    'image presentation';
    gap: 10px;
    align-content: center;
}

#retrato-molina-container{
    display: flex;
    margin-right: 60px;
}

#retrato-molina{
    width: 200px;
    border-radius: 50%;
    align-self: center;
}

.grid-container-main{
    width: 85%;
    margin: auto;
    margin-top: 50px;
}

#presentation-personal h2>span{
    font-size: 1.8rem;
    color: #e03805;
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 700;
}

.titulo-container-sobre-mi{
    background-image: url(/images/fondo-sobre-mi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position-y: 58%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
#sobre-mi-container-main h1, #sobre-mi-container-main h2.sobre-mi{
    color: rgb(218, 218, 218);
    font-size: 2rem;
    text-align: left;
    padding-left: 10vw;
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 1px  0px 0px black,
    0px  1px 0px black,
   -1px  0px 0px black,
    0px -1px 0px black;
}

#sobre-mi-container-main h2{
    font-size: 1.5rem;
}

h1.sobre-mi{
    border-bottom: 2px solid black;
    display: inline-block;
    padding-top: 150px;
}

#presentation-personal h2{
    padding-left: 0px;
    font-weight: 500;
}


@media only screen and (max-width: 768px){
    .grid-container-main{
        grid-template-areas: 
        'image'
        'presentation';
    }
    #retrato-molina-container{
        display: flex;
        justify-self: center
    }

    h1.sobre-mi{
        padding-top: 10px;
    }

    .titulo-container-sobre-mi{
        height: 50vh
    }
};

@media screen and ( max-width: 600px ){

    #sobre-mi-container-main .titulo-container-sobre-mi{
        background-position-x: 50%;
    }

}